.top-bar-section {
  grid-area: top-bar;
  border: 1px solid black;
  height: 10vh;
}
.title-section {
  grid-area: title-section;
  border: 1px solid black;
  height: 20vh;
}
.middle-section {
  grid-area: middle-section;
  border: 1px solid black;
  height: 38vh;
}
.bottom-section {
  grid-area: bottom-section;
  border: 1px solid black;
  height: 30vh;
}

.main-area-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "top-bar"
    "title-section"
    "middle-section"
    "bottom-section";
}

/* Media Queries */
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .top-bar-section {
    height: 9vh;
  }
  .title-section {
    height: 25vh;
  }
  .middle-section {
    height: 35vh;
  }
  .bottom-section {
    height: 30vh;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .top-bar-section {
    height: 10vh;
  }
  .title-section {
    height: 80vh;
  }
  .middle-section {
    height: 50vh;
  }
  .bottom-section {
    height: 28vh;
  }
}
