.top-bar-section {
  grid-area: top-bar;
  height: 4em;
}
.title-section {
  grid-area: title-section;
  height: 10em;
}
.middle-section {
  grid-area: middle-section;
  height: 17em;
}
.bottom-section {
  grid-area: bottom-section;
  height: 14rem;
}

.main-area-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "top-bar"
    "title-section"
    "middle-section"
    "bottom-section";
}

/* Media Queries */
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .top-bar-section {
    height: 5em;
  }
  .title-section {
    height: 14em;
  }
  .middle-section {
    height: 18em;
  }
  .bottom-section {
    height: 15em;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .top-bar-section {
    height: 4em;
  }
  .title-section {
    height: 32em;
  }
  .middle-section {
    height: 20em;
  }
  .bottom-section {
    height: 12em;
  }
}
