.middle-left {
  grid-area: middle-left;
  border-radius: 0.5em;
  margin: 0em 0.5em 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one two"
    "three three";
}

.middle-left-one {
  grid-area: one;
  background-color: #283046;
  border-radius: 0.5em;
  margin: 0 0.5em 0.5em 0;
}
.middle-left-two {
  grid-area: two;
  background-color: #283046;
  border-radius: 0.5em;
  margin: 0 0 0.5em 0.5em;
}
.middle-left-three {
  grid-area: three;
  background-color: #283046;
  border-radius: 0.5em;
  margin: 0.5em 0 0 0;
}

.middle-right {
  grid-area: middle-right;
  background-color: #283046;
  border-radius: 0.5em;
  margin: 0em 1em 0.5em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  /* column-gap: 1em; */
  grid-template-areas: "middle-left middle-right";
  height: 100%;
}

/* Media Queries */
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .middle-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "middle-left"
      "middle-right";
  }

  .middle-left {
    height: 16vh;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "one two three three";
    margin: 1em 1em 0.5em 1em;
  }

  .middle-left-one {
    margin: 0 0.5em 0 0;
  }

  .middle-left-two {
    margin: 0 0.5em 0 0.5em;
  }
  .middle-left-three {
    margin: 0 0 0 0.5em;
  }

  .middle-right {
    height: 10vh;
    margin: 0.5em 1em 1em 1em;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .middle-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "middle-left"
      "middle-right";
  }

  .middle-left {
    height: 30vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "three three";
    margin: 0.5em;
  }

  .middle-left-one {
    margin: 0 0.5em 0.5em 0;
  }

  .middle-left-two {
    margin: 0 0 0.5em 0.5em;
  }
  .middle-left-three {
    margin: 0.5em 0 0 0;
  }
  .middle-right {
    height: 15vh;
    margin: 0.5em;
  }
}
