.checkout-confirmation {
  background-color: #283046;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  max-width: 300px;
  max-height: 200px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 30%;
  right: 0;
  z-index: 3;
  padding: 1rem;
  border-radius: 0.5em;
}
.cart {
  background-color: #283046;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #d0d2d6;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  position: fixed;
  top: 10%;
  left: 30%;
  right: 0;
  z-index: 2;
  padding: 1rem;
  border-radius: 0.5em;
}

.cart-title,
.cart-checkout-total,
.cart-items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.cart-items-container:hover {
  background: #161d31;
}
.cart-items-count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #d0d2d63a;
  border-radius: 0.5em;
  width: 30%;
  height: 1.5em;
}

.cart-title-pill {
  color: black;
  padding: 4px 10px;
  text-align: center;
  border-radius: 1rem;
  background-color: #7367f0;
}

.cart-checkout-btn button {
  border: none;
  width: 100%;
  height: 3em;
  border-radius: 0.5em;
  font-size: 16px;
  cursor: pointer;
  background-color: #7367f0;
}

.cart-items-count-increment,
.cart-items-count-decrement {
  cursor: pointer;
}

.cart-item-close {
  display: none;
  margin-left: 40px;
  cursor: pointer;
}

/* Media Queries */
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .cart {
    top: 10%;
    left: 0%;
  }

  .checkout-confirmation {
    top: 15%;
    left: 0%;
    right: 0;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .checkout-confirmation {
    top: 20%;
  }
  .cart {
    max-width: 300px;
    max-height: 400px;
  }
}
