.top-bar-container {
  margin: 1em 1em 0 1em;
}

.top-bar-content {
  border-radius: 0.5em;
  height: 3rem;
  padding: 0 1rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283046;
}

.menu-btn {
  visibility: hidden;
}
.top-bar-icon {
  padding: 0.3rem;
  cursor: pointer;
  color: #b4b7bd;
}

.top-bar-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar-content-right p {
  font-size: 14px;
  margin-left: 1em;
}

.cart-notification {
  position: relative;
}

.cart-items-length {
  position: absolute;
  font-size: 16px;
  right: -6px;
  top: -10px;
  color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7367f0;
}

/* Media Queries */
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .top-bar-content-left {
    display: none;
  }

  .menu-btn {
    visibility: visible;
  }
  .top-bar-container {
    margin: 1em 1em 0 1em;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .top-bar-username {
    display: none;
  }

  .top-bar-container {
    margin: 0.5em;
  }
}
