.top-bar-container {
  margin: 1em 1em 0 1em;
}

.top-bar-content {
  border: 1px solid tomato;
  border-radius: 0.5em;
  height: 3rem;
  padding: 0 1rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  visibility: hidden;
}
.top-bar-icon {
  padding: 0.3rem;
  cursor: pointer;
}

.top-bar-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar-content-right p {
  font-size: 14px;
  margin-left: 1em;
}

/* #top-bar-cart {
  display: none;
} */

/* Media Queries */
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .top-bar-content-left {
    display: none;
  }

  .menu-btn {
    visibility: visible;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .top-bar-username {
    display: none;
  }

  .top-bar-container {
    margin: 0.5em;
  }
}
