.side-bar {
  grid-area: side;
  border: 1px solid red;
}

.main-area {
  grid-area: main;
  border: 1px solid blue;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "side main main main main";
  height: 100vh;
}
